<div class="details" *ngIf="book$ | async as book">
  <h1>{{ book.title }}</h1>
  <p role="doc-subtitle" *ngIf="book.subtitle">{{ book.subtitle }}</p>
  <div class="header">
    <div>
      <h2>Authors</h2>
      <ul>
        <li *ngFor="let author of book.authors">{{ author }}</li>
      </ul>
    </div>
    <div>
      <h2>ISBN</h2>
      {{ book.isbn | isbn }}
    </div>
    <div *ngIf="book.published">
      <h2>Published</h2>
      {{ book.published | date:'longDate' }}
    </div>
  </div>
  <h2>Description</h2>
  <p>{{ book.description }}</p>
  <img *ngIf="book.thumbnailUrl"
    [src]="book.thumbnailUrl"
    alt="Cover">
  <a class="button arrow-left" routerLink="..">Back to list</a>
  <ng-container *bmLoggedinOnly>
    <button class="red" bmConfirm="Remove book?" (confirm)="removeBook(book.isbn)">
      Remove book
    </button>
    <a class="button"
      [routerLink]="['/admin/edit', book.isbn]">
      Edit book
    </a>
  </ng-container>
</div>
